.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text-left {
  text-align: left;
}

.text-left div {
  margin-bottom: 1rem;
}

.token-list li {
  display: block;
  margin-bottom: 1rem;
}

.token-list li div {
  font-size: 10pt;
}